@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
}

h1 {
    font-family: "Archivo Black", sans-serif;
    font-weight: 500;
    font-size: 150px;
    color: white;
}


/* ........Header....... */
.header-background {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/header.jpg');
    background-size: cover;
    background-position: center top;
}

.header-background::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.header-heading-wrapper {
    position: absolute;
    top: 250px;
    left: 300px;
    z-index: 2;
}

.header-heading-wrapper p {
    color: white;
}

.header-all-cases {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    z-index: 2;
}

.header-all-cases img {
    height: 50px;
    width: 50px;
}

.navbar {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100px;
    background-color: transparent;
    border-right: 1px solid gray;
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 15px;
}

.navbar a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    transform: rotate(-90deg);
    transition: 0.3s;
    height: 50px;
    width: 50px;
}

.navbar a:hover {
    color: black;
    margin: 10px;

}

.navbar:hover {
    background-color: white;
}

.navbar a img {
    height: 50px;
    width: 50px;
    transform: rotate(90deg);
    transition: opacity 0.3s;
}

.navbar a img.hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.navbar:hover a {
    color: black;
    ;
}

.navbar:hover img.hover-img {
    opacity: 1;
}

.navbar:hover img:not(.hover-img) {
    opacity: 0;
}


/* ........Main....... */
.main-section1 {
    position: relative;
    background: #f8f8f8;
    padding: 80px;
}

.main-section1 h2 {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 20px;
}

.main-section1 p {
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
}

.section1-height {
    height: 100vh;
}

.main-section1-heading-wrapper {
    position: relative;
    left: 130px
}

.main-section1-article-wrapper {
    position: relative;
    display: flex;
    align-content: row;
    justify-content: space-around;
    margin: 80px 75px 75px;
}

.main-section2 {
    position: relative;
    background-color: #1d1d1d;
    color: white;
    height: 100vh;
}

.main-section2-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section2-article-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
}

.divider {
    width: 150px;
    margin: 0 auto;
    border: none;
    background-color: gray;
    height: 1px;
    margin: 20px 20px;
}

.main-section-article-wrapper-num {
    font-family: 'Fjalla One', sans-serif;
    font-size: 70px;
}

.main-section2-article-wrapper article h2 {
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
}

.main-section2-image-wrapper img {
    position: relative;
    display: block;
}

.overlay {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-section2-image-wrapper figcaption {
    position: relative;
    top: -25px;
    left: -190px;
    z-index: 2;
}

.main-section2-image-wrapper {
    position: relative;
    top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section3 {
    position: relative;
    background-color: #1d1d1d;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section3-heading-wrapper {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 35px;
}

.main-section3-article-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;
    text-align: center;
    font-family: system-ui, sans-serif;
    font-size: 15px;
}

.main-section3-article-wrapper article {
    margin: 30px;
}

.main-section3-article-wrapper article p {
    margin: 35px;
}

.main-section3-article-wrapper img {
    height: 50px;
    margin: 20px;
}

.main-section3-article-card {
    background-color: #0e0d0d;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    margin: 0 40px 0 40px;
}

.main-section4 {
    position: relative;
    background-color: #0e0d0d;
    color: white;
    height: 70vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.main-section4 h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 50px;
    padding-top: 40px;
}

.main-section4 article {
    position: relative;
    top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #77C078;
    color: #0e0d0d;
    margin: 75px 75px 75px 0;
    padding: 40px;
    text-align: center left;
}

.main-section4 article hr {
    width: 300px;
    margin: 0 auto;
    border: none;
    background-color: gray;
    height: 1px;
    margin: 20px 20px;
}

.main-section4 article p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.main-section4-profile img {
    height: 50px;
    border-radius: 50px;
}

.black-white {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.main-section4-profile {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-right: 125px;
}

.main-section4-profile-info {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.name {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.role {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin-top: 5px;
}

.main-section5 {
    position: relative;
    background-color: #0e0d0d;
    color: white;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.main-section5-h2-p-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center left;
    margin-bottom: 40px;
}

.main-section5-h2-p-wrapper h2 {
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.main-section5-h2-p-wrapper p {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.main-section5-team-profiles {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}

.main-section5-team-profiles img {
    height: 75%;
}

.section6-height {
    position: relative;
    height: 85vh;
}


/* ........Footer....... */
.footer-background {
    position: relative;
    width: 100%;
    height: 75vh;
    background-image: url('../assets/footer.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

.footer-background h2 p {
    position: relative;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.footer-bottom {
    position: sticky;
    top: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px;
}

.footer-botton p span {
    text-decoration: underline;
}